<header class="vds-header">
    <div class="header-left">
        <div class="logo">
            <img src="../assets/icons/dashboard.svg" alt="VDS-VPIN Logo">
            <span class="logo-text">VDS-VPIN</span>
            <span class="logo-tag">测试版</span>
        </div>
        
        <div class="project-selector">
            <div class="current-project">
                <img src="../assets/icons/project.svg" alt="项目">
                <span>生产环境项目</span>
                <img src="../assets/icons/arrow-down.svg" alt="下拉">
            </div>
        </div>
    </div>
    
    <div class="header-right">
        <div class="global-actions">
            <button class="btn-icon" type="button" title="帮助">
                <img src="../assets/icons/help.svg" alt="帮助">
            </button>
            <div class="divider"></div>
        </div>
    </div>
</header>
