<nav class="vds-sidebar">
    <ul class="nav-menu">
        <li class="nav-item" id="nav-dashboard">
            <a href="../pages/index.html">
                <img src="../assets/icons/dashboard.svg" alt="工作台">
                <span>工作台</span>
            </a>
        </li>
        <li class="nav-item" id="nav-model">
            <a href="../pages/model-center.html">
                <img src="../assets/icons/model.svg" alt="模型">
                <span>模型中心</span>
            </a>
        </li>
        <li class="nav-item has-submenu" id="nav-task">
            <a href="#">
                <img src="../assets/icons/task.svg" alt="任务">
                <span>推理任务</span>
                <img src="../assets/icons/chevron-right.svg" alt="展开">
            </a>
            <ul class="submenu">
                <li><a href="../pages/data-config.html">新建任务</a></li>
                <li><a href="../pages/task-dashboard.html">任务监控</a></li>
            </ul>
        </li>
        <li class="nav-item has-submenu" id="nav-security">
            <a href="../pages/security-center.html">
                <img src="../assets/icons/security.svg" alt="安全">
                <span>安全中心</span>
                <img src="../assets/icons/chevron-right.svg" alt="展开">
            </a>
            <ul class="submenu">
                <li><a href="../pages/security-center.html">通信与推理用量</a></li>
                <li><a href="../pages/verification-report.html">验证报告</a></li>
            </ul>
        </li>
        <li class="nav-item" id="nav-audit">
            <a href="#">
                <img src="../assets/icons/audit.svg" alt="审计">
                <span>审计日志</span>
            </a>
        </li>
    </ul>
</nav>